html{
	font-size: @base-px;
	line-height: 16 * @toRems;
	color: #6b6b6b;
	font-family: 'PF DinDisplay Pro';
	overflow-y: scroll;
}
html, body{
	height: 100%;
}

body{
	overflow: visible;
}

.wrapper{
	min-height: 100%;
	margin-bottom: -226 * @toRems;
	position: relative;
}
.all{
	padding-bottom: 226 * @toRems;	
}
.row-position{
	position: relative;
}

.title-style{
	color: #312e2a;
	font-size: 24 * @toRems;
	font-family: 'PF DinDisplay Pro';
	font-weight: 500;
	margin: 18 * @toRems 0 0;
	padding: 0 110 0 0 * @toRems;
	line-height: 26 * @toRems;
	text-align: left;
}

.wrap-article-top{
	border-bottom: 1px solid #fbc98e;
	margin-top: 16px;
	> .title-style:first-child{
		margin-top: 0;
	}
	
}
.article-top{
	position: relative;
}
.block-item-top{
	.block-date{
		margin-top: 7 * @toRems;
	}
}
.block-date{
	position: absolute;
	top: 0;
	right: 0;
	color: #c0c0c0;
	margin-top: 7 * @toRems;
}
.back{
	color: #f7931d;
	text-decoration: none;
	line-height: 18px;
	&:hover{
		text-decoration: underline;
	}
}
.block-title{
	font-size: 22px;
	background-color: #2c2c2c;
	color: #f5f5f5;
	line-height: auto;
	font-weight: 300;
	margin: 0;
	padding: 12px;
	text-transform: uppercase;
}
.block-info-text{
	font-size: 13px;
	color: #efeeee;
	background-color: #2c2c2c;
	border-top: 4px solid #f7931d;
	font-weight: 200;
	padding: 14px 10px 23px 10px;
	text-align: justify;
	p{
		margin: 0;
		line-height: 17px;
	}
}
.wrapper-block-style{
	padding: 10px 16px 0 16px;
	position: relative;
	a{
		min-height: 340px;
		background: #2c2c2c;
		text-decoration: none;
		img {
			width: 100%;
		}
	}
	&:after{
		content: "";
		width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-bottom: 10px solid #f7931d;
	    position: absolute;
	    top: 0;
	    left: 50%;
	    margin-left: -10px;
	    display: none;
	}
	&:hover:after{
		display: block;
	}
}
.row-13{
	margin: 0 -13px;
}
.logo-color{
	color: #f7931d;
	font-style: normal;
	font-weight: 400;
}
.amp{
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	vertical-align: top;
}
.headline{
	font-weight: 200;
	text-transform: uppercase;
	line-height: 24px;
	padding: 18px 0;
}
.wrap-headline{
	border-bottom: 2px solid #f7931d;
}
.wrap-carousel{
	margin-top: 22px;
	overflow: hidden;
}
.viev-all{
	color: #2c2c2c;
	font-size: 16px;
	line-height: 16px;
	font-weight: 200;
	text-decoration: none;
	margin-top: 34px;
	display: block;
	padding-right: 1px;
	&:hover{
		text-decoration: underline;
	}
}
.pull-right{
	float: right !important;
}
.bg-color{
	background-color: #e5e5e5;
	.menu-style a{
		color: #474646;
	}
}
.headline-bg{
	background-color: #2c2c2c;
	border-bottom: none;
	.headline{
		color: #ffffff;
	}
}
.wrap-about-us{
	background-image: url(../images/about-us-bg.jpg);
	background-size: cover;
	background-position: 50% 0;
	padding-bottom: 53px;
	margin-top: 30px;
}
.about-block{
	width: 83.5%;
	margin: 60px auto 0;
	background-color: rgba(255, 255, 255, 0.9);
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	color: #484848;
	padding: 47px 35px 26px 35px;
	.box-shadow(0 0 6px rgba(0, 0, 0, 0.15));

	p{
		line-height: 26px;
		position: relative;
	}
	.viev-all{
		text-decoration: underline;
		margin-top: 23px;
		font-weight: 300;
		color: #484848;
		&:hover{
			text-decoration: none;
		}
	}
}
.quotes{
	color: #f7931d;
	font-style: 50px;
	display: inline-block;
	font-size: 52px;
	font-weight: 400;
	line-height: auto;
	vertical-align: top;
	margin-top: -6px;
	&.left{
		margin-right: 6px;
	}
	&.right{
		margin-left: 6px;	
	}
}
.menu-style{
	ul{
		list-style: none;
		overflow: hidden;
		margin-top: 0;
		padding-left: 114px;
	}
	a{
		color: #ffffff;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 200;
		padding: 22px 11px 16px;
		border-bottom: 3px solid transparent;
		display: block;
		&.active{
			border-bottom-color: #f7931d;
		}
		&:hover{
			border-bottom-color: #f7931d;
		}
	}
	li{
		float: left;
		margin: 0 8px;
	}
}
.wrapper-block-top{
	.headline, .menu-style{
		display: table-cell;
		vertical-align: middle;
	}
	.headline{
		padding: 0;
	}
}
/*---------------GALLERY--------------------------*/
.wrap-gallery{
	position: relative;
	padding: 18px 0;
	a{
		display: block;
		padding: 18px;
		width: 24.9%;
		img{
			display: block;
			height: auto;
			width: 100%;
		}
	}
}
.portfolioContainer{
	margin: 0 -18px;
	position: relative;
}

.wrap-hover-gallery{
	position: absolute;
	top: 0;
	height: 100%;
	display: table;
	left: 0;
	right: 0;
	background-color: transparent;
	font-size: 14px;
	color: #ffffff;
	font-weight: 200;
	text-align: center;
	vertical-align: middle;
	.transition(0.3s);
	
	&:after{
		content: "";
		display: block;
		height: 4px;
		background-color: transparent;
		position: absolute;
		bottom: 5px;
		left: 0;
		right: 0;
	}
}
.hover-gallery-title{
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 200;
	font-size: 20px;
	margin: 0;
	opacity: 0;
	.transition(0.5s);
	position: relative;
	top: -50%;
	+ .hover-gallery-text{
		margin-top: 15px;
	}
}
.hover-gallery-text{
	opacity: 0;
	position: relative;
	top: 50%;
	.transition(0.5s);
}


.hover-gallery-block{
	display: table-cell;
	vertical-align: middle;
	padding: 0 15px;
	height: 100%;
}
 
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
 
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.container-hover-gallery{
	position: absolute;
	top: 17px;
	overflow: hidden;
	right: 17px;
	left: 17px;
	bottom: 17px;
	z-index: 3;
	&:hover{
		.wrap-hover-gallery{
			background-color: rgba(44, 44, 44, 1.0);
			&:after{
				background-color: #f7931d;
			}
		}
		.hover-gallery-title{
			top: 0;
			opacity: 1.0;
		}
		.hover-gallery-text{
			top: 0;
			opacity: 1.0;
		}
	}
}

.back-gallery {
	text-decoration: none;
	> div{
		background: #ecebeb;
		height: 341px;
		color: #646464;
		font-size: 16px;
		font-weight: 200;
		display: table;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		.transition(0.2s);
		> div{
			display: table-cell;
			vertical-align: middle;
		}
	}
	&:hover{
		> div{
			background: #646464;
			color: #ecebeb;
		}
	}
}

.gallery-inside{
	a:not(.back-gallery){
		&:after{
			border: 7px solid transparent;
		    content: " ";
		    display: block;
		    left: 18px;
		    right: 18px;
		    top: 18px;
		    bottom: 18px;
		    position: absolute;
		    .transition(0.2s);
	    }
	    &:hover{
	    	&:after{
	    		border-color: #f7931d;
	    	}
	    }
	}
}

/*---------------END GALLERY--------------------------*/
.news-block{
	overflow: hidden;
	.wrap-headline{
		border-bottom: none;
		border-top: 4px solid #f7931d;
	}
}

.block-style-news{
	background: #ffffff;
	/*.box-shadow(0 0 4px rgba(0, 0, 0, 0.3));*/
	position: relative;
	img{
		width: 100%;
		height: auto;
		margin: auto;
		display: block;
	}
}
.wrapper-news{
	padding-left: 35px;
}
.block-style-news{
	position: relative;
	&:after{
		.transition(0.2s);
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		border: 7px solid transparent;
		height: 100%;
		width: 100%;
	}
	&:hover{
		&:after{
			border-color: #f7931d;
		}
	}
}
.item-style{
	clear: both;
	margin-top: 37 * @toRems;
	display: block;
	.block-style-news{
		float: left;
		width: 35.4%;
	}
	.item-style-content{
		float: right;
		width: 64.6%;
		margin-top: 4 * @toRems;
		p{
			text-align: justify;
			margin-top: 17 * @toRems;
			line-height: 16px;
		}
	}
	.block-item-top{
		float: right;
		width: 64.6%;
		position: relative;
		&:after{
			height: 1px;
			background-color: #fbc98e;
			content: "";
			position: absolute;
			display: block;
			bottom: 0;
			left: -150%;
			width: 400%;
		}
	}
	.view-all{
		color: #f7931d;
		text-decoration: none;
		margin-top: 26px;
		&:hover{
			text-decoration: underline;
		}
	}
}
.item-style-content{
	margin-top: 11 * @toRems;
	padding-left: 20px;
}
.block-item-top{
	position: relative;
	a{
		color: #312e2a;
		text-decoration: none;
	}
	.title-style{
		margin-top: 13 * @toRems;
		padding: 0 84px 12px 20px;
		text-align: left;
	}
	.block-date{
		margin-top: 20 * @toRems;
	}
}
.block-date{
	position: absolute;
	top: 0;
	right: 0;
	color: #c0c0c0;
}
.contact{
	margin-top: 64px;
	.wrap-headline{
		border-bottom: none;
	}
}
.characteristic-goods{
	> div{
		width: 66px;
		height: 67px;
		display: inline-block;
		margin-right: 26px;
	}
}
/*----------------ACCORDION--------------------*/
.wrap-accordion{
	margin-top: 13px;
}
.accordion-title{
	font-size: 16px;
	color: #9a9a9a;
	font-weight: 400;
	background-color: #f1efef;
	line-height: 18px;
	padding: 15px 160px 15px 14px;
}
.accordion-wrap-title{
	position: relative;
	.open, .close{
		position: absolute;
		top: 16px;
		right: 0;
		color: #9a9a9a;
		text-decoration: none;
		font-weight: 400;
	}
	.icon-arrow-up{
		font-size: 9px;
		margin: 0 12px 0 17px;
		padding-top: 4px;
	}
	.close {
		display: none;
	}

}
.accordion-title{
	margin: 0;
}
.accordion-content{
	background-color: #f3f3f3;
	padding: 20px;
	display: none;
	a{
		color: #9a9a9a;
		display: inline-block;
		text-decoration: none;
		width: 100px;
		text-align: center;
		vertical-align: top;
		margin-right: 33px;
		line-height: 18px;
		padding-bottom: 20px;
		img{
			margin-bottom: 15px;
		}
	}
}
.document-download{
	padding: 10px 0 0 0;
	margin-bottom: -10px;
	a{
		color: #9a9a9a;
		display: inline-block;
		text-decoration: none;
		width: 100px;
		text-align: center;
		vertical-align: top;
		margin-right: 33px;
		line-height: 18px;
		padding-bottom: 20px;
		img{
			margin: 0 auto 15px;
			max-width: 100%;
			display: block;
			height: auto;
		}
	}
}
.open-accordion{
	
	.accordion-title{
		background-color: #7c7c7c;
		color: #ffffff;
	}
	.open, .close{
		color: #ffffff;
	}
	.accordion-content{
		display: block;
	}

	.close {
		display: block;
	}
	.open {
		display: none;
	}
}
/*----------------END ACCORDION----------------*/
@media (max-width: 767px){
	.item-style{
		padding-top: 9 * @toRems;
		padding-bottom: 8 * @toRems;
		.block-style, .block-item-top, .item-style-content{
			float: none;
			width: 100%;
		}
		.block-style-news{
			margin: 7 * @toRems auto 0;
			padding: 0;
		}
		.item-style-content{
			margin-top: 17 * @toRems;
			p{
				margin-top: 10 * @toRems;
			}
		}
	}
}



