.caret{
	font-size: 10px;
	display: inline-block;
	vertical-align: middle;
	border-top: (6 / 10) + 0em solid #5a5a5a;
	border-left: (4 / 10) + 0em solid transparent;
	border-right: (4 / 10) + 0em solid transparent;
	width: 0;
}

.placeholdr { color: gray }
