



@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-light.eot');
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-light.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-light.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-light.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-light.svg#pf_dindisplay_prolight') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-italic.eot');
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-italic.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-italic.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-italic.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-italic.svg#pf_dindisplay_proitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-lightital.eot');
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-lightital.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-lightital.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-lightital.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-lightital.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-lightital.svg#pf_dindisplay_prolight_italic') format('svg');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-medium.eot');
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-medium.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-medium.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-medium.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-medium.svg#pf_dindisplay_promedium') format('svg');
    font-weight: 500;
    font-style: normal;

}





@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/PFDinDisplayPro-MedItal.eot');
    src: url('../fonts/PF_DinDisplay_Pro/PFDinDisplayPro-MedItal.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/PFDinDisplayPro-MedItal.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/PFDinDisplayPro-MedItal.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/PFDinDisplayPro-MedItal.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/PFDinDisplayPro-MedItal.svg#pf_dindisplay_proMdIt') format('svg');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-reg.eot');
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-reg.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-reg.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-reg.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-reg.svg#pf_dindisplay_proregular') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-thin.eot');
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-thin.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-thin.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-thin.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-thin.svg#pf_dindisplay_prothin') format('svg');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-thinital.eot');
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-thinital.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-thinital.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-thinital.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-thinital.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-thinital.svg#pf_dindisplay_prothin_italic') format('svg');
    font-weight: 200;
    font-style: italic;

}




@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-xthin.eot');
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-xthin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-xthin.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-xthin.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-xthin.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-xthin.svg#pf_dindisplay_proextrathin') format('svg');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-xthinit.eot');
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-xthinit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-xthinit.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-xthinit.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-xthinit.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-xthinit.svg#pf_dindisplay_proXThIt') format('svg');
    font-weight: 100;
    font-style: italic;

}



@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-bold.eot');
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-bold.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-bold.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-bold.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-bold.svg#pf_dindisplay_proextrathin') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-boldital.eot');
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-boldital.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-boldital.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-boldital.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-boldital.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-boldital.svg#pf_dindisplay_proXThIt') format('svg');
    font-weight: 700;
    font-style: italic;

}


@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-black.eot');
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-black.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-black.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-black.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-black.svg#pf_dindisplay_proextrathin') format('svg');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-blackit.eot');
    src: url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-blackit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-blackit.woff2') format('woff2'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-blackit.woff') format('woff'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-blackit.ttf') format('truetype'),
         url('../fonts/PF_DinDisplay_Pro/pfdindisplaypro-blackit.svg#pf_dindisplay_proXThIt') format('svg');
    font-weight: 900;
    font-style: italic;

}

body {
    opacity: 1.0;
}